http://:8080 {
	log stderr
	
	handle_path /api/v1/recipes/* {
		rewrite * /api{uri}
		reverse_proxy http://recipes.example.test:1338
	}

	handle /login {
		reverse_proxy http://authentication.example.test:8000
	}

	handle /* {
		reverse_proxy http://frontend.example.test:8000
	}
}
